body > * {
    box-sizing: border-box;
}

#top {
	display: flex;
	justify-content: space-between;
}

img {
    display: block;
    max-width: 100%;
	/* border-radius: 10px; */
}

.choices {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1em;
}

.choices .choice {
	flex-basis: 48%;
	padding: 3em;
}