body > * {
	box-sizing: border-box;
	text-align: center;
}

#level {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.progress {
	background-color: rgba(200, 200, 200, 0.3);
}

img {
	display: block;
	object-fit: contain;
}

#img-mate {
	border: 1px solid #f6c344;
}

.hide {
	display: none;
}

#options {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.option {
	height: 100px;
	flex-basis: 48%;
}

#high-score {
	padding: 0 5em;
}

ol {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 423px) {
	.option {
		flex-basis: 47%;
	}
}

@media (min-width: 768px) {
	#content, #results {
		display: flex;
		justify-content: center;
		gap: 2em;
	}

	.option {
		min-width: 100%;
	}

	#level .btn {
		padding: 1em 2em;
	}
}

@media (min-width: 1200px) {
	.container {
		padding: 0 10em;
	}
}